.eqd-accordion__heading {
  margin: 1px 0px 0px 0px !important;
}

.eqd-accordion__button {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    justify-content: normal;
    text-align: left;
    padding: 0;
    color: #fff;
    background-color: #414141;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M18 12.998H6a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
    background-size: 1.5rem;
    cursor: pointer; font-size: 16px; letter-spacing: 1px;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    padding: 20px 20px;
    text-decoration: none;
    width: 100%;
}

.eqd-accordion__button[aria-expanded=false], 
.eqd-accordion__button[aria-expanded=false]:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M18 12.998h-5v5a1 1 0 0 1-2 0v-5H6a1 1 0 0 1 0-2h5v-5a1 1 0 0 1 2 0v5h5a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.eqd-accordion__button[aria-expanded=false] {
    background-size: 1.5rem;
}

.eqd-accordion__content {
    color: #1b1b1b;
    background-color: #fff;
    margin-top: 0;
    overflow: auto;
    padding: 0px;
    font-size: 1.06rem;
    line-height: 1.5;
}