.variables-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default: 2 columns */
  gap: 5px; /* Space between items */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

@media (max-width: 600px) { /* Apply when screen width is ≤ 600px */
  .variables-container {
    grid-template-columns: 1fr; /* Switch to a single column */
  }
}

.variable-text {
  flex: 1; /* Allows the text to take available space */
  word-break: break-word; 
  overflow-wrap: break-word;
}
.inputs {
  word-wrap: break-word;  /* Allows breaking long words */
  overflow-wrap: break-word;
  white-space: normal;  /* Prevents text from staying in one line */
  max-width: 100%;  /* Ensures it stays within container */
}

.accordion-button2 {

  color: black;
    box-shadow: none;
  }
  .accordion-button2:active {
    background-color: #0A4742;
    color: white;
    border: 1px solid white;
    box-shadow: none;
  }
  .accordion-button2:not(.collapsed) {
    background-color: #0A4742;
    color: white; /* Change this to your desired color */
    border: 1px solid white;
    box-shadow: none;
  }
  

  
  .accordion-button2.collapsed::after {
    /* content: '\002B';  */
    font-size: 20px !important;
  
    color: white;
  }
  /* Expanded (not collapsed) state */
  .accordion-button2:not(.collapsed)::after {
    content: '\2212';
    font-size: 20px !important;
    color: white; 
    line-height: 1;
}